version: '3'
services:
  backend:
    image: {{ backend_image }}
    container_name: todo-backend
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/todo-app
    depends_on:
      - mongo
    networks:
      - docker-network
    restart: unless-stopped

  frontend:
    image: {{ frontend_image }}
    container_name: todo-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - docker-network
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: todo-mongodb
    volumes:
      - mongo-data:/data/db
    networks:
      - docker-network
    restart: unless-stopped

networks:
  docker-network:
    driver: bridge

volumes:
  mongo-data: